<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elluminati.edelivery.store">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.edelivery.store.sunmi.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.edelivery.store.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.edelivery.store.RegisterLoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service
            android:name="com.edelivery.store.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.edelivery.store.AddProductActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ProductListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.AddItemActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.AddItemSpeciActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.UpdateProfileActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ItemDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.OrderDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.DeliveryDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.HistoryActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.HistoryDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.DocumentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.EarningActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.FeedbackActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ReferralShareActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_ANDROID_API_KEY" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/FB_LOGIN_PROTOCOL_SCHEME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.edelivery.store.StoreLocationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.StoreTimeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.AddBankDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.BankDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.WithdrawalActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.WalletTransactionActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.WalletDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.WalletTransactionDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.StoreOrderProductActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.StoreOrderProductSpecificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.CartActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.CheckoutDeliveryLocationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ReviewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.AddPromoCodeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.PromoCodeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.FamousForActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.UpdateOrderActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.InstantOrderInvoiceActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.UpdateOrderProductSpecificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.InstantOrderActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.OrderInvoiceActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.SpecificationGroupActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.SpecificationGroupItemActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.StoreDeliveryTimeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.AddGroupActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.ProductGroupsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_store" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="edeliverystore2020" />

        <activity
            android:name="com.edelivery.store.AddSubStoreActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.SubStoresActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.edelivery.store.NotificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>